<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
				        http://www.springframework.org/schema/jms
				        http://www.springframework.org/schema/jms/spring-jms-4.0.xsd">

	<!-- 创建ActiveMQ连接工厂 -->
	<bean id="amqSenderConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${mq.brokerURL}" />
	</bean>
	<bean id="amqListenerConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${mq.brokerURL}" />
	</bean>
	
	<!-- 创建Spring连接工厂 -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="amqSenderConnectionFactory" />
		<property name="sessionCacheSize" value="1000" />
	</bean>

	<!-- 定义队列 -->
	<bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<description>队列模式</description>
		<constructor-arg index="0" value="${mq.queue.name}" />
	</bean>

	<!-- 配置jms模板 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="defaultDestination" />
		<property name="pubSubDomain" value="false" />
	</bean>

	<!-- 消息监听bean,异步接收 -->
	<bean id="tradeMQListener" class="cn.seckill.service.impl.TradeMQListenerImpl" />
	
	<!-- 配置Spring监听容器 -->
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="amqListenerConnectionFactory" />
		<property name="destination" ref="defaultDestination" />
		<property name="messageListener" ref="tradeMQListener" />
		<property name="concurrentConsumers" value="${mq.queue.consumers}" />
	</bean>

</beans>